<li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
<li>@Html.ActionLink("News", "News", "Articles", new { area = string.Empty }, null)</li>
<li>@Html.ActionLink("Tech", "Tech", "Articles", new { area = string.Empty }, null)</li>
<li>@Html.ActionLink("Devices", "Devices", "Articles", new { area = string.Empty }, null)</li>
<li>@Html.ActionLink("Soft", "Soft", "Articles", new { area = string.Empty }, null)</li>
<li>@Html.ActionLink("Science", "Science", "Articles", new { area = string.Empty }, null)</li>
<li>@Html.ActionLink("About", "Contacts", "About", new { area = string.Empty }, null)</li>
