<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Blog - @ViewBag.Title</title>
    @Styles.Render("~/Content/site/sitecss")
    <link href='https://fonts.googleapis.com/css?family=Kreon:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="wrap">
        <header>
            <div id="header-common">
                <div id="sharing-icons">
                    <a href="#"><img src="~/images/twitter.png" alt="Share on Twitter"></a>
                    <a href="#"><img src="~/images/rss.png" alt="Share with RSS"></a>
                    <a href="#"><img src="~/images/facebook.png" alt="Share on Facebook"></a>
                </div>
                <div id="login">
                    <a href="~/Account/Login"><img src="~/images/login.png" alt="Login" style="width:20px" /></a>
                </div>
                <form id="search-box">
                    <input id="search-input" type="text" placeholder="Search this website...">
                    <input id="search-submit" type="image" src="~/images/search.png" alt="Submit">
                </form>
                <div id="logo">
                    <img src="~/images/logo.png">
                    <span id="slogan">Your slogan goes here</span>
                </div>
                <nav id="nav">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("News", "News", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Tech", "Tech", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Devices", "Devices", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Soft", "Soft", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Science", "Science", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("About", "Contacts", "About", new { area = string.Empty }, null)</li>
                    </ul>
                </nav>
            </div>
            <div id="location-bar" class="@(Request.AppRelativeCurrentExecutionFilePath != "~/" ? "inner-page" : "")">
                <ul>
                    @if (Request.AppRelativeCurrentExecutionFilePath == "~/")
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("News", "News", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Tech", "Tech", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Devices", "Devices", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Soft", "Soft", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Science", "Science", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("About", "Contacts", "About", new { area = string.Empty }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>

                        var url = Request.Url.AbsolutePath;
                        var urlElements = url.Split('/');
                        var pathBuilder = "";

                        for (int i = 1; i < urlElements.Length; i++)
                        {
                            pathBuilder = pathBuilder + urlElements[i] + "/";
                            <li><a href="~/@pathBuilder">@urlElements[i]</a></li>
                        }
                    }
                </ul>
            </div>
            @if (Request.AppRelativeCurrentExecutionFilePath == "~/")
            {
                @Html.Partial("_IndexSlider")
            }
            <div id="page-heading" class="@(Request.AppRelativeCurrentExecutionFilePath != "~/" ? "inner-page" : "")">
                <h1>@ViewBag.Title</h1>
                <h3>@ViewBag.Subtitle</h3>
            </div>
        </header>
        @RenderBody()
        <footer>
            <div id="site-info" class="footer-element">
                <img src="~/images/logo-footer.png">
                <h6>© Chameleon Theme 2010</h6>
                <p>
                    Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium vulputate. Etiam quis nulla ac turpis
                    molestie tempus et in purus. Suspendisse potenti. Integer accumsan accumsan est, ac
                </p>
            </div>
            <div id="recent-posts" class="footer-element footer-list">
                <h3>Recent posts</h3>
                <ul>
                    <li><a href="#">Curabitur blandit rutrum</a></li>
                    <li><a href="#">Pharetra donec dictum felis eu</a></li>
                    <li><a href="#">Eros pretium vulputate</a></li>
                    <li><a href="#">Etiam quis nulla ac turpis moles</a></li>
                    <li><a href="#">Suspendisse potenti integer</a></li>
                    <li><a href="#">Accumsan nunc sollicitudin id</a></li>
                </ul>
            </div>
            <div id="text-widget" class="footer-element">
                <h3>Text widget</h3>
                <p>
                    Curabitur blandit rutrum pharetra. Donec dictum felis eu eros pretium vulputate. Etiam quis nulla ac turpis
                    molestie tempus et in purus. Suspendisse potenti. Integer accumsan accumsan est, ac accumsan nunc sollicitudin
                    id.
                </p>
            </div>
            <div id="recent-comments" class="footer-element footer-list">
                <h3>Recent comments</h3>
                <ul>
                    <li><a href="#">Curabitur blandit rutrum</a></li>
                    <li><a href="#">Pharetra donec dictum felis eu</a></li>
                    <li><a href="#">Eros pretium vulputate</a></li>
                    <li><a href="#">Etiam quis nulla ac turpis moles</a></li>
                    <li><a href="#">Suspendisse potenti integer</a></li>
                    <li><a href="#">Accumsan nunc sollicitudin id</a></li>
                </ul>
            </div>
            <p>Designed by <i>Elegant WordPress Themes</i> | Powered by <i>WordPress</i></p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sitescripts")
    @RenderSection("scripts", required: false)
</body>
</html>