<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tech Blog - @ViewBag.Title</title>

    @Styles.Render("~/Content/site/sitecss")

    <link href='https://fonts.googleapis.com/css?family=Kreon:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="wrap">
        <header>
            <div id="header-common">
                <div id="sharing-icons">
                    <a href="#"><img src="~/images/twitter.png" alt="Share on Twitter"></a>
                    <a href="#"><img src="~/images/rss.png" alt="Share with RSS"></a>
                    <a href="#"><img src="~/images/facebook.png" alt="Share on Facebook"></a>
                </div>
                <div id="login">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <a href="~/Account/Login"><img src="~/images/login.png" alt="Login" style="width:20px" /></a>
                    }
                    else
                    {
                        using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><img src="~/images/logout.png" alt="Logout" style="width:20px" /></a>

                        }
                    }
                </div>
                @Html.Partial("_SearchForm")
                @*@using (@Html.BeginForm("SearchResult", "Search", FormMethod.Post, new { @id = "search-box" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.TextBox("searchedText", null, new { @placeholder = "Search this website...", @id = "search-input" })
                    <input id="search-submit" type="image" src="~/images/search.png" alt="Submit">
                }*@
                <div id="logo">
                    <img src="~/images/logo.png">
                    <span id="slogan">Your slogan goes here</span>
                </div>
                <nav id="nav">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("News", "News", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Tech", "Tech", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Devices", "Devices", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Soft", "Soft", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Science", "Science", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("About", "Contacts", "About", new { area = string.Empty }, null)</li>
                    </ul>
                </nav>
            </div>
            <div id="location-bar" class="@(Request.AppRelativeCurrentExecutionFilePath != "~/" ? "inner-page" : "")">
                <ul>
                    @if (Request.AppRelativeCurrentExecutionFilePath == "~/")
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("News", "News", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Tech", "Tech", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Devices", "Devices", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Soft", "Soft", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("Science", "Science", "Articles", new { area = string.Empty }, null)</li>
                        <li>@Html.ActionLink("About", "Contacts", "About", new { area = string.Empty }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = string.Empty }, null)</li>

                        var url = Request.Url.AbsolutePath;
                        var urlElements = url.Split('/');
                        var pathBuilder = "";

                        for (int i = 1; i < urlElements.Length; i++)
                        {
                            pathBuilder = pathBuilder + urlElements[i] + "/";
                            <li><a href="~/@pathBuilder">@urlElements[i]</a></li>
                        }
                    }
                </ul>
            </div>
            @if (Request.AppRelativeCurrentExecutionFilePath == "~/")
            {
                @Html.Partial("_IndexSlider")
            }
            @if (Request.AppRelativeCurrentExecutionFilePath != "~/Account/Login" && Request.AppRelativeCurrentExecutionFilePath != "~/Account/Register")
            {
                <div id="page-heading" class="@(Request.AppRelativeCurrentExecutionFilePath != "~/" ? "inner-page" : "")">
                    <h1>@ViewBag.Title</h1>
                    <h3>@ViewBag.Subtitle</h3>
                </div>
            }
        </header>
        @RenderBody()
        @if (Request.AppRelativeCurrentExecutionFilePath != "~/Account/Login" && Request.AppRelativeCurrentExecutionFilePath != "~/Error" && Request.AppRelativeCurrentExecutionFilePath != "~/Account/Register")
        {
            <footer>
                <img src="~/images/logo-footer.png">
                <p>Project designed for <i>Telerik Academy</i> | Powered by <i>ASP.NET MVC</i></p>
            </footer>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sitescripts")
    @RenderSection("scripts", required: false)
</body>
</html>