@using ArticleSystem.Web.Helpers

@model ArticleSystem.Web.ViewModels.Articles.PagedArticlesViewModel

<div id="main-content" class="inner-page self-clear">
    @Html.Partial("_AsideElement")
    <div id="main" class="inner-page">
        @foreach (var article in Model.Articles)
            {
            <div class="post-preview">
                <h1>@article.Title</h1>
                @Html.Partial("_PostInfo", article)
                <div class="post-img-container">
                    <img src="@ImageFromDb.Image(article.HeaderImage, "header")" />
                </div>
                <div class="post-text">@Html.Raw(TextShortener.ShortenHtml(article.TextHtml, 420))</div>
                <a href="~/Articles/Details/@article.Id" class="btn post-link">Read More</a>
            </div>
        }
        <div class="pager">
            <div class="pager-buttons">
                @{
                    for (int i = 1; i <= Model.TotalPages; i++)
                    {
                        if (i == Model.CurrentPage)
                        {
                            <a href="~/Articles/@Model.CategoryName/@i" class="btn post-link current">@i</a>
                        }
                        else
                        {
                            <a href="~/Articles/@Model.CategoryName/@i" class="btn post-link">@i</a>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>