@using ArticleSystem.Web.Helpers

@model ArticleSystem.Web.ViewModels.Articles.ArticleDetailsViewModel

@{ 
    ViewBag.Title = Model.Title;
    ViewBag.Category = Model.Category;
    ViewBag.Subtitle = string.Format("Posted by {0} on {1:dd MMM yyyy}", Model.Author, Model.CreatedOn);
}

<div id="main-content" class="inner-page self-clear">
    @Html.Partial("_AsideElement")
    <div id="main" class="inner-page post">
        <div class="post-preview post-full">
            @Html.Partial("_PostInfo")
            <div class="post-text">
                <div class="post-img-container">
                    <img src="@ImageFromDb.Image(Model.HeaderImage, "header")" />
                </div>
                @Html.Raw(Model.TextHtml)
            </div>
            <div id="comments-container">
                <h1><span id="number-of-comments">@Model.TotalComments</span> Comments</h1>
                @{
                    foreach (var comment in Model.Comments)
                    {
                        if (comment.IsRoot)
                        {
                            <div class="comment">
                                <div class="comment-avatar">
                                    <img src="@ImageFromDb.Image(comment.AuthorAvatar, "comment")">
                                </div>
                                <div class="comment-body">
                                    <span class="user-name">@comment.Author</span>
                                    <span class="comment-date">@comment.CreatedOn</span>
                                    <p class="comment-text">@comment.CommentText</p>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a href="/post.html" class="btn post-link">Reply</a>
                                    }
                                </div>
                            </div>

                            foreach (var reply in comment.Comments)
                            {
                                <div class="comment reply">
                                    <div class="comment-avatar">
                                        <img src="@ImageFromDb.Image(reply.AuthorAvatar, "comment")">
                                    </div>
                                    <div class="comment-body">
                                        <span class="user-name">@reply.Author</span>
                                        <span class="comment-date">@reply.CreatedOn</span>
                                        <p class="comment-text">@reply.CommentText</p>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            @Html.Partial("_CommentsForm")
            @*<form id="comment-form">
                <h1>Leave a comment</h1>
                <textarea id="comment-text" placeholder="Message"></textarea>
                <input type="submit" value="Post" class="btn post-link">
            </form>*@
        }
    </div>
</div>